@using BB5

<div class="row">
    <div class="col-4">
        <Form Item="AlertProperties"
              OnSubmit="AlertPropertiesUpdated" />
        <ClassBuilder OnClassUpdated="HandleStyleUpdate"/>
    </div>
    <div class="col-8">
        <div class="m-3">
            <Alert Color="@AlertColor"
                   Class="@AlertClass"
                   Dismissible="@AlertDismissible"
                   Content="@AlertContent" />
        </div>
    </div>
</div>