@using BB5

<div class="mb-3">
    <InputLabel Content="@("Shadow")" />
    <Select Value="@(Enum.GetName(Shadow))"
            Items="@(Enum.GetNames<Shadow>())"
            ValueChanged="ShadowUpdatedAsync" />
</div>

<div class="mb-3">
    <InputLabel Content="@("Class")" />
    <BB5.InputText ValueChanged="ClassUpdatedAsync" />
</div>