@inherits LayoutComponentBase

@layout MainLayout

<div class="container">
    <div class="row align-items-start">
        <div class="col-3">
            <div class="mt-3">
                <p class="lead">Examples</p>
                <div class="list-group list-group-flush">
                    <a href="/examples/login" class="list-group-item list-group-item-action">
                        Login
                    </a>
                </div>
            </div>            
            <div class="mt-3">
                <p class="lead">Builders</p>
                <div class="list-group list-group-flush">
                    <a href="/builders/alert" class="list-group-item list-group-item-action">
                        Alert
                    </a>
                    <a href="/builders/button" class="list-group-item list-group-item-action">
                        Button
                    </a>
                    <a href="/builders/form" class="list-group-item list-group-item-action">
                        Form
                    </a>
                    <a href="/builders/input-password" class="list-group-item list-group-item-action">
                        InputPassword
                    </a>
                    <a href="/builders/input-text" class="list-group-item list-group-item-action">
                        InputText
                    </a>
                    <a href="/builders/select" class="list-group-item list-group-item-action">
                        Select
                    </a>
                    <a href="/builders/table" class="list-group-item list-group-item-action">
                        Table
                    </a>
                </div>
            </div>
        </div>
        <div class="col-8">
            @Body
        </div>
    </div>
</div>

@code {
    
}
