@inherits LayoutComponentBase

<div class="h-100 d-flex flex-column overflow-hidden">
    <NavigationBar />
    <div class="d-flex flex-row flex-fill overflow-hidden">
        <div class="overflow-auto col-3 p-2">
            <ArticlesNavigationList />
        </div>
        <div class="flex-fill overflow-auto col-9 p-4">
            @Body
        </div>
    </div>
</div>