@page "/Examples/Forms"

@using BB5.Examples.Layout
@using BB5.Examples.Examples

@layout ArticleLayout

<h2 class="display-5 mt-5">
    Forms
</h2>

<p class="lead">Examples showcasing the Form component.</p>

<h3>Form controls</h3>

<FormControls />

<h3>Sizing</h3>

<FormControlSizing />

<h3>Form text</h3>

<FormControlText />
