@page "/Examples/Login"

@using BB5.Examples.Layout

@layout ArticleLayout

<h2 class="display-5">
    Login
</h2>

<Form Object="@Model"
      Submitted="HandleSubmitAsync"
      SubmitContent="@("Login")" />

<Alert Content="@Message"
       Class="mt-3"
       Color="AlertColor.Success" />
