@using Microsoft.AspNetCore.Components.Web

@namespace BB5.Components

@if (Content is null
     && ChildContent is null)
{
    return;
}

<div @attributes="@Attributes">
    @if (Content is MarkupString markupContent)
    {
        @markupContent
    }
    else
    {
        @Content
    }

    @ChildContent

    @if (Dismissible)
    {
        <button type="button"
                class="btn-close"
                aria-label="Close"
                @onclick="DismissAsync"></button>
    }
</div>
