@namespace BB5.Components

@if (Content is null
     && ChildContent is null)
{
    return;
}

<span class="@Classes">
    @if (Content is MarkupString markupContent)
    {
        @markupContent
    }
    else
    {
        @Content
    }
    
    @ChildContent
</span>
