@using BB5.Services
@namespace BB5.Components

@inject IMarkdownRenderer MarkdownRenderer

@if (!string.IsNullOrEmpty(Content)
    || ChildContent is not null)
{
    <div class="@Classes">
        @switch (ContentType)
        {
            case ContentType.Html:
                @((MarkupString)Content)
                break;
            case ContentType.Markdown:
                @(MarkdownRenderer.ToHtml(Content))
                break;
            case ContentType.Text:
            default:
                @Content
                break;
                
        }
        
        @ChildContent
    </div>
}