@namespace BB5.Components

@if (Content is not null
     || ChildContent is not null)
{
    <div class="@Classes">
        @if (Content is MarkupString markupContent)
        {
            @markupContent
        }
        else
        {
            @Content
        }
        
        @ChildContent
    </div>
}