@namespace BB5

<div @attributes="@Attributes">
    @if (Content is MarkupString markupContent)
    {
        @markupContent
    }
    else
    {
        @Content
    }

    @ChildContent

    @if (Dismissible)
    {
        <button type="button"
                class="btn-close"
                aria-label="Close"
                @onclick="DismissAsync"></button>
    }
</div>
