@namespace BB5

<button @onclick:preventDefault
        @onclick="HandleClickAsync"
        @attributes="@Attributes">
    @if (Content is MarkupString markupContent)
    {
        @markupContent
    }
    else
    {
        @Content
    }
        
    @ChildContent
</button>