@namespace BB5

<div @attributes="@Attributes">
    @foreach (var item in List)
    {
        <div>
            @if (item is MarkupString markupItem)
            {
                @markupItem
            }
            else
            {
                @item
            }
        </div>
    }

    @ChildContent
</div>
