<form @onsubmit="HandleSubmit"
      @attributes="@Attributes">
    @foreach (var controlInfo in FormControls)
    {
        <div class="mb-3">
            <FormControl Model="@controlInfo"
                         OnModified="@OnModified" />
        </div>
    }

    @Controls

    @Actions
</form>