@namespace BB5

<label class="@Classes"
       @attributes="Attributes">
    @if (Content is MarkupString markupContent)
    {
        @markupContent
    }
    else
    {
        @Content
    }
    
    @ChildContent
</label>
