@namespace BB5

<label @attributes="LabelAttributes">
    @if (Content is MarkupString markupContent)
    {
        @markupContent
    }
    else
    {
        @Content
    }
    
    @ChildContent
</label>
