<table @attributes="@Attributes">
    <thead>
        @foreach (var column in Columns)
        {
            <th>@column</th>
        }
    </thead>
    <tbody>
        @{ var rowIndex = 0; }
        @foreach (var row in Rows)
        {
            <tr>
                @{ var cellIndex = 0; }
                @foreach (var cell in row)
                {
                    <td>
                        @if (cellIndex == 0)
                        {
                            var localRowIndex = rowIndex;
                            <a href="#"
                               @onclick:preventDefault
                               @onclick="async _ => await ActivateAsync(localRowIndex)">
                                @if (cell is MarkupString markupContent)
                                {
                                    @markupContent
                                }
                                else
                                {
                                    @cell
                                }
                            </a>
                        }
                        else
                        {
                            @if (cell is MarkupString markupContent)
                            {
                                @markupContent
                            }
                            else
                            {
                                @cell
                            }
                        }
                    </td>

                    cellIndex++;
                }
            </tr>

            rowIndex++;
        }
    </tbody>
</table>